extends ../layout.jade

block vars
  - var title = "Dreams - Antanas Sinica"

block content
  h1 My Dreams
  p A list of #[a(href="https://www.google.com/search?q=dreams&tbm=isch") dreams] in no particular order
  
  ul
    li Love and get love back
    li Learn more and #[a(href="https://mystate.today") teach others]
    li Build my own home
    li Code more
    li Own a TESLA
    li Solve routine redundancy issues
  
