extends ../layout.jade

block vars
  - var title = "Elon Musk"

block content
  h1 My Public letter to meet Elon Musk in person.
  h2 I want to understand what future holds for me. So I look up to others
  p In this case it's Elon Musk who has to contact me first, because that's what men do. They meet others and expand the visible horizon of out future. I am keeping this message space high, because on some level I can understand what Elon Musk is doing. I can even understand why, if I know what he's doing. I can also understand you. I know you came here because you were interested. Doesn't matter you're a man or a woman, because now, I can talk to both.</p>
  p I can choose what to do, therefore I write make this page available under my own name. I will be the craftsman of my own future events. And yours in someway too.
  h2 How fast can a clean idea catch-on? I haven't sent any e-mails or messages about this to anyone yet.</h2>
  p What would you write to your personal authority?
  p Written on 2016-03-12 at favorite time of my day using VIM via Mac OS X terminal.
  p Will update as the story unravels.
  h1 If this idea will stay, it will have to stick forever. ;)
  h2 This page links nowehere, it doesn't have to, cus I'm tracking it.
