extends ../layout.jade

block vars
  - var title = "Helping others"

block content
  h1 My Public letter for love.com ownership
  h2 To become the best at what we, men do. I want to build something and I need their help.
  p In a pursue of happiness for building things, I will use the best possible tools known to me at that time. Because men can achieve, what they want. As Linus once started Git, this will remain in Git's powerful ownership.
  h4 Bare contents of the letter
  pre.
    I want to make a good attempt to use love.com and actually represent it.
    I understand AOL.com uses it for visibility purposes, but what if I keep a small link at the bottom and mention everywhere "spread love for AOL.com?".
    I don't want AOL to become "sponsors", I don't want to do a business out of it.

    Once you guys see it's worth it (you start using it yourselves), we can exchange the distractions from right side to the left -> eliminate what makes sense -> eliminate the distraction from love.com -> to love. -> to a point where YOU think it's worth to make the exchange and not me ;)

    See, I trust you, reader of this message, therefore I love.
    I consider love.com to be the first place where people search for it, therefore I will tell my story, and my friend's story, and my opposite's story on how to attract each other in order to make it last. Because I believe only that is true.

    Everything is a choice, so can you help find it on the internet?

    asinica.lt
    I will use MIT license.

  p Sent on 2016-03-12 at favorite time of my day using aol.com Feedback > Ideas button.
  p Will update as the story unravels.
  h1 If this idea will stay, it will have to stick forever. ;)
  h2 This page links nowehere, it doesn't have to.
