extends ../layout.jade

block vars
  - var title = "Antanas Sinica"

block content
  h1 Antanas Sinica
  
  p
    label tel.
    a(href="tel:+37062697865") +37062697865
    br
    label e-mail
    a(href="mailto:antanas.sinica@gmail.com") antanas.sinica@gmail.com
    br
    label linkedin
    a(href="http://www.linkedin.com/pub/antanas-sinica/25/7b1/914") Antanas Sinica
    
  h2 RESTless thinker who is also in love.
  h2 Things I'm doing
  p
    a(href="/helping-others") Helping others
    |  to find meaning of love.
  p
    a(href="/elon-musk") Elon Musk
    |  is about to come meet me.
