extends ../layout.jade

block vars
  - var title = "Antanas Sinica"

block content
  h1 Antanas Sinica
  
  p.links
    a(href="tel:+370 626 97865") +370 626 97865
    a(href="mailto:antanas.sinica@gmail.com") antanas.sinica@gmail.com
    a(href="https://www.linkedin.com/in/antanassinica") LinkedIn
      
  h2 RESTless thinker who goes out of his ways.

  h2 Things I'm doing
  ul
    li Going back to basics
    li Pursuing my 
      a(href="/dreams") dreams
      
    
  h2 Quotes that stuck
  ul
    li "I have never failed, I have only found 10.000 ways that won't work." - Thomas Edison
    li "Common sense is not so common."
  
  h2 History in Git 
    a(href="https://github.com/OrangGeeGee/homepage/commits/master") repo
