<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><a routerLink="/">Antanas Sinica</a></h3>
                    <nav class="nav nav-masthead">
                        <!--<a class="nav-link" routerLink="/">Home</a>
                        -->
                    </nav>
                </div>
            </div>

            <router-outlet></router-outlet>

            <div class="mastfoot">
                <div class="inner">
                    <p>History in Git <a href="https://github.com/OrangGeeGee/homepage/commits/master">repo</a></p>
                </div>
            </div>

        </div>
    </div>
</div>