<div class="container">

    <h1>My dreams</h1>
    <p>A list of <a href="https://www.google.com/search?q=dreams&amp;tbm=isch">dreams</a> in no particular order</p>
    <ul>
        <li>Love and get love back</li>
        <li>Learn more and <a href="https://mystate.today">teach others</a></li>
        <li>Become a good dad</li>
        <li>Build my own home</li>
        <li>Build a rally car</li>
        <li>Snowboard || kitesurf</li>
        <li>Own a TESLA</li>
        <li>Solve routine redundancy issues</li>
    </ul>

</div>