<div class="inner cover">

    <h1 class="cover-heading">Hi, I'm Antanas.</h1>

    <p>I am a developer, I pursue my <a routerLink="/dreams">dreams</a>, I provide <a routerLink="/story">IT consulting services</a>.</p>

    <p>Reach out to me for any reason, be it you want to share a cup of coffee, need an expert opinion or you have a job
        that requires creative, structured and quality approach.</p>

    <p class="links">
        <a href="tel:+370 626 97865">+370 626 97865</a>
        <a href="mailto:antanas.sinica@gmail.com">antanas.sinica@gmail.com</a>
        <a href="https://www.linkedin.com/in/antanassinica">LinkedIn</a>
    </p>

    <h2>Quotes that stuck</h2>
    <ul>
        <li>"I have never failed, I have only found 10.000 ways that won't work." - Thomas Edison</li>
        <li>"Common sense is not so common." - Voltaire</li>
        <li>"I am a RESTless thinker who goes out of his ways." - Antanas Sinica</li>
    </ul>

</div>