<div class="inner cover">

    <p class="links">
        <a href="tel:+370 626 97865">+370 626 97865</a>
        <a href="mailto:antanas.sinica@gmail.com">antanas.sinica@gmail.com</a>
        <a href="https://www.linkedin.com/in/antanassinica">LinkedIn</a>
    </p>
    <h1 class="cover-heading">RESTless thinker who goes out of his ways.</h1>

    <h2>Hi, I'm Antanas. I pursue my <a routerLink="/dreams">dreams</a> and I provide IT consulting services.</h2>
    <p>Reach out to me for any reason, be it you want to share a cup of coffee, need an expert opinion or you have a job
        that others are not willing to take.</p>

    <h2>Quotes that stuck</h2>
    <ul>
        <li>"I have never failed, I have only found 10.000 ways that won't work." - Thomas Edison</li>
        <li>"Common sense is not so common." - Voltaire</li>
    </ul>

</div>